section {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.header {
    margin: 0 auto;
    color: $light;
    height: 958px;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    p {
        font-size: 1.5rem;
        line-height: 1.75;
        font-weight: 700;
        &.lh-sm {
            line-height: 1.5;
        }
    }
    li {
        a {
            display: block;
            width: 60px;
            height: 60px;
            text-indent: -9999px;
            background-size: 60px 60px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            transition: all .3s ease 0s;
            &.behance {
                background-image: url('../images/behance.svg');
            }
            &.facebook {
                background-image: url('../images/facebook.svg');
            }
            &.instagram {
                background-image: url('../images/instagram.svg');
            }
            &.youtube {
                background-image: url('../images/youtube.svg');
            }
            &:hover {
                opacity: .75;
            }
        }
        &:not(last-child){
            margin-right: 1rem;
        }
    }
}

.footer {
    padding: 4rem 0;
    color: $light;
    li {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    a{
        color: $light;
        text-decoration: none;
        transition: all .3s ease 0s;
        &:hover {
            color: #891818;
        }
    }
}

