h1 {
    font-size: 5rem;
    line-height: 1.325;
    font-weight: 900;
}

h2 {
    font-size: 4rem;
    line-height: 1.3125;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    &.lh-xl {
        line-height: 1.75;
        font-weight: 500;
    }
}



.text-sm {
    font-size: 1.25rem;
}

ul {
    li {
        font-size: 1.5rem;
        line-height: 1.75;
        font-weight: 700;
    }
    &.dot {
        li {
            position: relative;
            padding-left: 38px;
            &:after {
                content: '';
                position: absolute;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background-color: $primary;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

hr {
    margin-top: 24px;
    margin-bottom: 28px;
    height: 1px;
    width: 384px;
    background-color: $dark;
}

.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

@for $i from 0 through 20 {
    .mb-#{$i}{
        margin-bottom: $base-size * $i;
    }

    .me-#{$i}{
        margin-right: $base-size * $i;
    }

    .pt-#{$i}{
        margin-right: $base-size * $i;
    }

    .pb-#{$i}{
        margin-right: $base-size * $i;
    }

}